// Footer | CopyRights	
footer.color-section-1
    .container-fluid
        .row-centered
            .site-brand
                span.bold Tell 
                span.thin.dark-text Something
            | By 
            a(href="https://vimana.studio") Vimana Studio 
            | - 2018

