// Full Screen NavBar

.site-brand.centered-brand
    span.bold Tell 
    span.thin  Something

// Top Nav Trigger
#NavFullTopTrigger.navfull-trigger.navfull-top-trigger
    .toggle-button
        span.bar.top
        span.bar.middle
        span.bar.bottom

// Bottom Nav Trigger
#NavFullBottomTrigger.navfull-trigger.navfull-bottom-trigger
    .toggle-button
        span.bar.top
        span.bar.middle
        span.bar.bottom
 
 
nav#NavFull.nav-full.col-md-12
    .left.col-md-6.col-xs-12
        .menu-content
            ul
                li
                    a(href="index.html") HOME
                li
                    a(href="blog.html") BLOG
                li
                    a(href="docs/docs.html") DOCS
                li
                    a(href="contact.html") CONTACT
    .right.col-md-6
        .overlay
            .text
                p Tell Something
                hr.light-hr
                p 
                    | Tell to the world who are you. 
                    br 
                    | Tell something nice,
                    br
                    | Tell something meaningfull.
                    br
                    | Teach something.
                    br
                    | Tell.